img{
	float:left;
	width:100px;
	width:30%;
	margin:1.66%;
}
p{
	margin-left: 1.66%;
	border-bottom:3px solid #f1f1f1;
	width:30%;
	padding-bottom: 5px;
	font-family: Raleway;
	font-size: 50px;
	font-weight: 800;
	text-decoration: uppercase;
}
